In [ ]:
import pandas as pd

# Series

In [ ]:
series1 = pd.Series(data = [25, 5, 5, 15, 2])
series1

0    25
1     5
2     5
3    15
4     2
dtype: int64

In [ ]:
series2 = pd.Series(data = [25, 5, 5, 15, 2], index = ['서울', '대전', '광주', '부산', '제주'])
series2

서울    25
대전     5
광주     5
부산    15
제주     2
dtype: int64

In [ ]:
df = pd.DataFrame(
    data = [
        {'구':25, '국번':'02'},
        {'구':5, '국번':'042'},
        {'구':5, '국번':'062'},
        {'구':15, '국번':'051'},
        {'구':2, '국번':'064'},
    ], index =['서울', '대전', '광주', '부산', '제주']
)
print(df)

     구   국번
서울  25   02
대전   5  042
광주   5  062
부산  15  051
제주   2  064

In [ ]:
s1 = pd.Series(['100', '90', '80'],
               index =['kor', 'math', 'eng'])

s2 = pd.Series(['80', '90', '100'],
               index =['kor', 'math', 'eng'])

s3 = pd.Series(['90', '80', '100'],
               index =['kor', 'math', 'eng'])

df = pd.DataFrame(
    {'1번':s1,
     '2번':s2,
     '3번':s3
     }
     )
df[['1번', '2번']]['kor':]

       1번   2번
kor   100   80
math   90   90
eng    80  100

In [ ]:
import numpy as np
import pandas as pd

s1 = pd.Series([np.random.randint(1, 6) for i in range(5)])

s1

0    4
1    3
2    2
3    2
4    4
dtype: int64

In [ ]:
s1 = pd.Series([np.random.randint(1, 6) for i in range(5)], dtype=np.float)

s1

0    5.0
1    4.0
2    3.0
3    3.0
4    5.0
dtype: float64

In [ ]:
data = [34.2, 27.1, 26.7, 11.5]
df = pd.Series(data, index=['A','B','O','AB'])
df

A     34.2
B     27.1
O     26.7
AB    11.5
dtype: float64

In [ ]:
df = pd.DataFrame([
                   {'번호':1, '이름':'a', '점수':100, '나이':15},
                   {'번호':2, '이름':'b', '점수':80, '나이':16},
                   {'번호':3, '이름':'c', '점수':70, '나이':15},
                   {'번호':4, '이름':'d', '점수':90, '나이':14},
],)
df[['번호', '점수']]

   번호   점수
0   1  100
1   2   80
2   3   70
3   4   90

In [ ]:
df = pd.DataFrame([
    {'매장명':'대남포차', '주메뉴':'문어', '가격':40000, '휴무일':'매주 일요일'},
    {'매장명':'재민국밥', '주메뉴':'돼지국밥', '가격':6000, '휴무일':'연중무휴'},
    {'매장명':'구서칼국수', '주메뉴':'칼국수', '가격':4000, '휴무일':'연중무휴'},
    {'매장명':'해진아나고', '주메뉴':'아나고', '가격':60000, '휴무일':'2/4주 일요일'},
], columns=['매장명', '주메뉴', '가격', '휴무일'])
df

    매장명 주메뉴     가격     휴무일
0  대남포차  문어  40000  매주 일요일
1  대남포차   a  40000   연중 무휴
2  대남포차   a  40000   연중 무휴
3  대남포차   a  40000  매주 일요일

In [ ]:
data2 = np.arange(1, 21).reshape(5,4)
data_frame2 = pd.DataFrame(data2)
data_frame2

    0   1   2   3
0   1   2   3   4
1   5   6   7   8
2   9  10  11  12
3  13  14  15  16
4  17  18  19  20

In [ ]:
data = [
        ['kim', 20, 'designer'],
        ['lee', 21, 'programmer'],
        ['park', 22, 'dba']
]
column_names = ['name', 'age', 'job']

pd.DataFrame(data = data, columns = column_names)

   name  age         job
0   kim   20    designer
1   lee   21  programmer
2  park   22         dba

In [ ]:
from collections import OrderedDict

data = OrderedDict([
        ['name',['kim', 'lee', 'park']],
        ['age',[ 20, 21, 22]],
        ['job',['designer', 'programmer', 'dba']]
])

df = pd.DataFrame(data)
df

   name  age         job
0   kim   20    designer
1   lee   21  programmer
2  park   22         dba

info, head, tail, index, columns, values, describe

In [ ]:
print(df.info())
print(df.head())
print(df.tail(3))
print(df.index)
print(df.columns)
print(df.values)
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   age     3 non-null      int64
 2   job     3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes
None
   name  age         job
0   kim   20    designer
1   lee   21  programmer
2  park   22         dba
   name  age         job
0   kim   20    designer
1   lee   21  programmer
2  park   22         dba
RangeIndex(start=0, stop=3, step=1)
Index(['name', 'age', 'job'], dtype='object')
[['kim' 20 'designer']
 ['lee' 21 'programmer']
 ['park' 22 'dba']]
        age
count   3.0
mean   21.0
std     1.0
min    20.0
25%    20.5
50%    21.0
75%    21.5
max    22.0

# 열과 행 추가

In [ ]:
import pandas as pd
product_list = [
                {'name': 'Mouse', 'price':100, 'compant':'A'},
                {'name': 'SSD', 'price':200, 'compant':'B'},
                {'name': 'CPU', 'price':300, 'compant':'C'}
]

df = pd.DataFrame(product_list, columns=['name', 'price', 'compant'])
df

    name  price compant
0  Mouse    100       A
1    SSD    200       B
2    CPU    300       C

In [ ]:
df['expires'] = 5
df

    name  price compant  expires
0  Mouse    100       A        5
1    SSD    200       B        5
2    CPU    300       C        5

In [ ]:
series = pd.Series([10, 2, 2], index = [0,1,2])
df['count'] = series
df

    name  price compant  expires  count
0  Mouse    100       A        5     10
1    SSD    200       B        5      2
2    CPU    300       C        5      2

In [ ]:
df['total'] = df['price'] * df['count']
df

    name  price compant  expires  count  total
0  Mouse    100       A        5     10   1000
1    SSD    200       B        5      2    400
2    CPU    300       C        5      2    600

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     3 non-null      object
 1   price    3 non-null      int64
 2   compant  3 non-null      object
 3   expires  3 non-null      int64
 4   count    3 non-null      int64
 5   total    3 non-null      int64
dtypes: int64(4), object(2)
memory usage: 272.0+ bytes

In [ ]:
df.describe()

       price  expires      count        total
count    3.0      3.0   3.000000     3.000000
mean   200.0      5.0   4.666667   666.666667
std    100.0      0.0   4.618802   305.505046
min    100.0      5.0   2.000000   400.000000
25%    150.0      5.0   2.000000   500.000000
50%    200.0      5.0   2.000000   600.000000
75%    250.0      5.0   6.000000   800.000000
max    300.0      5.0  10.000000  1000.000000

In [ ]:
discount = []
for row in df['total']:
    if row >= 1000:
        discount.append('10%')
    elif row >= 500:
        discount.append('5%')
    else:
        discount.append('0%')

df['discount'] = discount
df

    name  price compant  expires  count  total discount
0  Mouse    100       A        5     10   1000      10%
1    SSD    200       B        5      2    400       0%
2    CPU    300       C        5      2    600       5%

In [ ]:
def is_wireless(row):
    if row == 'Mouse':
        return True
    else:
        return False
    
df['wireless'] = df.name.apply(is_wireless)
df

    name  price compant  expires  count  total  wireless created_date
0  Mouse  100.0       A        7     10   1000      True   2004-08-09
1    SSD  200.0       B        7      2    400     False   2009-08-31
2    CPU  285.0       C        7      2    600     False   2020-09-01

In [ ]:
created_date = ['2004-08-09', '2009-08-31', '2020-09-01']
df['created_date'] = created_date
df

    name  price compant  expires  count  total discount  wireless created_date
0  Mouse    100       A        5     10   1000      10%     False   2004-08-09
1    SSD    200       B        5      2    400       0%     False   2009-08-31
2    CPU    300       C        5      2    600       5%     False   2020-09-01

In [ ]:
# Quiz
# 년도만 마지막 컬럼에 추가 (columnname = year, ex) 2004

year = []
for i in df['created_date']:
    year.append( i.split('-')[0] )

df['year'] = year
df

    name  price compant  expires  ...  discount  wireless created_date  year
0  Mouse    100       A        5  ...       10%     False   2004-08-09  2004
1    SSD    200       B        5  ...        0%     False   2009-08-31  2009
2    CPU    300       C        5  ...        5%     False   2020-09-01  2020

[3 rows x 10 columns]

In [ ]:
df['created_date']

0    2004-08-09
1    2009-08-31
2    2020-09-01
Name: created_date, dtype: object

In [ ]:
# 데이터 값 변경
df['expires'] = 7
df

    name  price compant  expires  ...  discount  wireless created_date  year
0  Mouse    100       A        7  ...       10%     False   2004-08-09  2004
1    SSD    200       B        7  ...        0%     False   2009-08-31  2009
2    CPU    300       C        7  ...        5%     False   2020-09-01  2020

[3 rows x 10 columns]

In [ ]:
# Numpy와 Pandas 같이..
import numpy as np
# 2010보다 연도가 클 경우 0.95를 곱하고 아닌경우 그대로 출력한다.
df['price'] = np.where(df['year']>'2010', df['price'] * 0.95, df['price'])
df

    name  price compant  expires  ...  discount  wireless created_date  year
0  Mouse  100.0       A        7  ...       10%     False   2004-08-09  2004
1    SSD  200.0       B        7  ...        0%     False   2009-08-31  2009
2    CPU  285.0       C        7  ...        5%     False   2020-09-01  2020

[3 rows x 10 columns]

In [ ]:
df.drop([2])

    name  price compant  expires  ...  discount  wireless created_date  year
0  Mouse  100.0       A        7  ...       10%     False   2004-08-09  2004
1    SSD  200.0       B        7  ...        0%     False   2009-08-31  2009

[2 rows x 10 columns]

In [ ]:
df.drop(['year'], axis=1)

    name  price compant  expires  count  total discount  wireless created_date
0  Mouse  100.0       A        7     10   1000      10%     False   2004-08-09
1    SSD  200.0       B        7      2    400       0%     False   2009-08-31
2    CPU  285.0       C        7      2    600       5%     False   2020-09-01

In [ ]:
df.drop(['year', 'discount'], axis=1)

    name  price compant  expires  count  total  wireless created_date
0  Mouse  100.0       A        7     10   1000     False   2004-08-09
1    SSD  200.0       B        7      2    400     False   2009-08-31
2    CPU  285.0       C        7      2    600     False   2020-09-01

In [ ]:
df

    name  price compant  expires  ...  discount  wireless created_date  year
0  Mouse  100.0       A        7  ...       10%     False   2004-08-09  2004
1    SSD  200.0       B        7  ...        0%     False   2009-08-31  2009
2    CPU  285.0       C        7  ...        5%     False   2020-09-01  2020

[3 rows x 10 columns]

In [ ]:
df.drop(['year', 'discount'], axis=1, inplace=True)
df

    name  price compant  expires  count  total  wireless created_date
0  Mouse  100.0       A        7     10   1000     False   2004-08-09
1    SSD  200.0       B        7      2    400     False   2009-08-31
2    CPU  285.0       C        7      2    600     False   2020-09-01

In [ ]:
df['wireless'] == False
df

    name  price compant  expires  count  total  wireless created_date
0  Mouse  100.0       A        7     10   1000      True   2004-08-09
1    SSD  200.0       B        7      2    400     False   2009-08-31
2    CPU  285.0       C        7      2    600     False   2020-09-01

In [ ]:
df[df['wireless'] == False]

  name  price compant  expires  count  total  wireless created_date
1  SSD  200.0       B        7      2    400     False   2009-08-31
2  CPU  285.0       C        7      2    600     False   2020-09-01

In [ ]:
df[ df['total'] > 400 ]

    name  price compant  expires  count  total  wireless created_date
0  Mouse  100.0       A        7     10   1000      True   2004-08-09
2    CPU  285.0       C        7      2    600     False   2020-09-01